:root {
    /* Colors */
    $main: #132651 !global;
    $white: #ffffff !global;
    $black: #000000 !global;
    $yellow: #F0DD2B !global;
    $grey: #C1CED6 !global;
    $blue: #65B2C3 !global;
    $bg: #F2F6F8 !global;
}